VITE_SUPABASE_URL=https://gxelfwtumzkgcesiagnl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4ZWxmd3R1bXprZ2Nlc2lhZ25sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxMjQyMTUsImV4cCI6MjEwMjcwMDIxNX0.4op12120uwKgB9HvXXLCtGgpx3uvCeELj8-6XfFVjC8
SUPABASE_JWT_SECRET=0VAxnxP7eWWPeYVSX0hBRzhsTRzm8tzXKrdQI5gpTPGwut7AAgwOHzu3rP7rnLIpWscj3jyAxj8TIvMSH/fPLA==